@import "lib/helpers/project", "lib/helpers/mixins", "lib/helpers/smart-grid", "lib/helpers/helpers";

@import "lib/header/page-header";
@import "lib/header/header-top";
@import "lib/header/logo";
@import "lib/header/main-menu";
@import "lib/header/callback";
@import "lib/header/head-slider";

@import "lib/common/container";
@import "lib/common/btn";
@import "lib/common/subheader";
@import "lib/common/text";
@import "lib/common/scroll-btn";
@import "lib/common/section-header";
@import "lib/common/animation";
@import "lib/common/text-input";

@import "lib/main/compare";
@import "lib/main/stats";
@import "lib/main/projects";
@import "lib/main/action";
@import "lib/main/advantages";
@import "lib/main/portfolio";
@import "lib/main/work-scheme";
@import "lib/main/calculator";
@import "lib/main/log";
@import "lib/main/thanks";
@import "lib/main/trust";
@import "lib/main/feedback";

@import "lib/footer/map";
@import "lib/footer/social";
@import "lib/footer/page-footer";

@import "lib/slick/slick";
@import "lib/slick/slick-theme";
